{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="z-index: 4; position: sticky; top: 0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">E_Bazar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
        </ul>
        <form class="d-flex" role="search" style="margin-right: auto;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <form action="#" class="d-flex">
          <a style="margin-right: 10px;" class="btn btn-outline-primary " href="{% url 'cart' %}">Cart <span class="badge text-bg-info text-light">{{request.session.cart.keys|length}}</span></a>
          {% if request.session.user_id %}
          
          <a style="margin-right: 10px;" class="btn btn-outline-primary " href="{% url 'orders' %}">Orders</a>
          <a style="margin-right: 10px;" class="btn btn-outline-primary " href="{% url 'logout' %}">Logout</a>
          {% else %}
          
          <a style="margin-right: 10px;" class="btn btn-outline-primary " href="{% url 'register' %}">Register</a>
          <a style="margin-right: 10px;" class="btn btn-outline-primary " href="{% url 'login' %}">Login</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>

{% endblock %}
