{% extends 'base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock %}
{% block nav %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
{% load custom_filter %}

<div class="container">
    <div class="border rounded p-4 m-4">
        <h3 class="pl-4">Your Orders:</h3>
    
    <div class="table-responsive">
      <table class="table">
        <thead class="table-light">
          <tr style="text-align: center;">
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Total</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders_view %}
          <tr>
            <td style="text-align: center;"><strong>{{forloop.counter}}</strong></td>
            <td>
              <div class="d-flex justify-content-center align-items-center">
                <a href="{{order.product.product_img.url}}" style="text-decoration: none; display: inline-block">
                  <img src="{{order.product.product_img.url}}" class="card-img-top img-fluid" alt="..." style="max-width: 100px; max-height: 100px; object-fit: contain; transform: scale(1); transition: transform 0.2s;">
                </a>  
              </div>
            </td>
            <td>
              <h5 class="card-title">{{ order.product.name }}</h5>
            </td>
            <td style="text-align: left;" class="col-2" >
              <h6 class="card-text">{{ order.formatted_order_price }}</h6>
            </td>
            <td style="text-align: center;">
              <h6 class="card-text">{{ order.quantity }}</h6>
            </td>
            <td style="text-align: left;" class="col-2" >
              <h6 class="card-text">{{ order.quantity|multiply:order.formatted_order_price }}</h6>
            </td>
            <td style="text-align: start;">
              <p class="card-text">{{ order.formatted_date }}</p>
            </td>
            {% if order.status %}
            <td><small class="badge text-bg-success">Complete</small></td>
            {% else %}
              <td><small class="badge text-bg-warning">Pending</small></td>
            {% endif %}
          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
</div>
{% endblock %}